**/node_modules
**/dist
**/build
**/coverage
**/.nx
**/dist-electron
**/.git
**/.github
**/.vscode
**/.idea
**/*.log
**/*.tmp
**/.env*
**/Dockerfile*
**/docker-compose*.yml
**/.dockerignore
**/.DS_Store
**/Thumbs.db
