**/node_modules
**/build
**/coverage
**/.nx
**/dist-electron
**/.git
**/.github
**/.vscode
**/.idea
**/.venv
**/.uv-cache
**/.pytest_cache
**/.ruff_cache
**/.turbo
**/*.log
**/*.tmp
**/.env*
**/.DS_Store
**/Thumbs.db

coverage
docs
reports
tmp
nul
